@font-face {
  font-family: 'primary-font-light';
  src: url("../fonts/body_font/ZenKakuGothicNew-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'primary-font-medium';
  src: url("../fonts/body_font/ZenKakuGothicNew-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'primary-font-regular';
  src: url("../fonts/body_font/ZenKakuGothicNew-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'header-font-bold';
  src: url("../fonts/header_font/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'header-font-medium';
  src: url("../fonts/header_font/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'header-font-regular';
  src: url("../fonts/header_font/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'logo';
  src: url("../fonts/header_font/Orbitron-Regular.ttf") format("truetype"); }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #090909; }

h2 {
  font-family: "header-font-bold"; }

img {
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.btn {
  color: #FAFAFF;
  padding: 0.8rem;
  display: inline-block;
  background-color: #d727e7c9;
  transition: .3s ease-in-out;
  border: 1px solid #d727e7c9;
  font-family: "header-font-regular";
  color: #FAFAFF;
  box-shadow: 2px 1px 5px #0e010d77;
  border-radius: 2px; }
  .btn:hover {
    background-color: #FAFAFF;
    color: #d727e7c9; }

.main-header {
  display: flex;
  position: sticky;
  z-index: 4;
  width: 100%;
  top: 0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 1rem 4rem;
  color: #FAFAFF;
  background-color: #fdf5fd;
  box-shadow: 2px 1px 10px #1a021938; }
  .main-header h2 {
    font-family: "logo";
    letter-spacing: 2px;
    background-image: linear-gradient(to left, #f185f1c9, #d428d4c9);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.4rem; }
  .main-header ul {
    list-style: none;
    font-family: "header-font-regular"; }
    .main-header ul li {
      display: inline-block;
      margin-left: 1rem; }
  .main-header a.home-link {
    color: #d727e7c9; }
  .main-header a:hover {
    color: #d727e7c9; }

.desktop {
  display: block; }

.hamburger {
  height: 1rem;
  display: none; }

.container {
  width: 85%;
  margin: auto; }

.home {
  margin-top: 2rem;
  margin-bottom: 4rem; }
  .home .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; }
  .home .text {
    margin-top: 2rem;
    position: relative; }
    .home .text h2 {
      font-size: 1.9rem;
      opacity: 0.8;
      width: 75%;
      font-family: "header-font-medium"; }
    .home .text p {
      margin-top: 2rem;
      font-family: "primary-font-regular";
      width: 70%; }
    .home .text a {
      margin-top: 3rem; }
    .home .text .btn {
      padding: 0.9rem 2.2rem; }
  .home .photos {
    position: relative; }
    .home .photos .img-1 {
      margin-top: 6rem;
      height: 22rem;
      width: 23rem; }
    .home .photos .img {
      position: absolute;
      top: 1rem;
      left: -5rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 1rem; }
      .home .photos .img .img-2 {
        height: 12rem;
        width: 12rem;
        transition: .3s ease-in-out; }
        .home .photos .img .img-2:hover {
          outline: 5px solid #d727e7c9;
          padding: 1rem; }

.about {
  background-color: #c937c91c;
  padding: 3rem 0; }
  .about h4 {
    font-family: "primary-font-regular";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #d727e7c9; }
  .about p {
    font-family: "primary-font-regular"; }
  .about img {
    width: 30rem;
    height: 24rem; }
  .about .photo {
    outline: 10px solid #d428d46c;
    padding: 1rem; }
  .about .about-text {
    width: 50%; }

.applying {
  width: 85%;
  margin: auto;
  padding: 3rem 0; }
  .applying h3 {
    font-family: "primary-font-regular";
    font-size: 1.3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    opacity: 0.8;
    color: #d428d4c9; }
  .applying p {
    font-family: "primary-font-regular"; }
  .applying .btn {
    margin-top: 2rem; }

h1 {
  font-family: "primary-font-light"; }

.register {
  width: 85%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .register .register-image {
    width: 30rem;
    height: 25rem; }
  .register .register-form {
    font-family: "primary-font-regular";
    margin-right: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .register .register-form p {
      font-family: "primary-font-medium";
      font-size: 1.5rem;
      margin-top: -2rem;
      text-align: center; }
    .register .register-form span {
      display: block;
      margin-bottom: 2rem;
      color: #d42828c9; }
    .register .register-form .input_ {
      margin-bottom: 1rem; }
      .register .register-form .input_ label {
        display: none; }
      .register .register-form .input_ input {
        outline: none;
        width: 20rem;
        height: 2.5rem;
        padding: 1rem; }

.footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 1rem;
  font-family: "primary-font-regular";
  word-spacing: 2px;
  background-color: #FAFAFF; }

@media (max-width: 700px) {
  .desktop {
    display: none; }
  .hamburger {
    display: block; }
  .main-header {
    padding: 1rem 2rem; }
    .main-header h2 {
      font-size: 1rem; }
  .home {
    margin-top: 1.5rem; }
    .home .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
    .home .text {
      order: 2; }
      .home .text h2 {
        width: 100%;
        font-size: 1.7rem;
        opacity: 0.6;
        font-family: "header-font-regular"; }
      .home .text p {
        width: 100%; }
    .home .photos {
      order: 1;
      margin-bottom: 3rem; }
      .home .photos .img-1 {
        height: 17rem;
        width: 20rem;
        margin-left: 3.5rem; }
      .home .photos .img {
        top: 4rem;
        left: 1rem; }
        .home .photos .img .img-2 {
          height: 10rem;
          width: 10rem; }
  .about img {
    width: 100%;
    height: 18rem; }
  .about .about-text {
    width: 100%; }
  .about .photo {
    margin-top: 2rem;
    outline: none;
    padding: 0; }
  .applying {
    width: 90%; }
  .register {
    flex-direction: column;
    justify-content: center; }
    .register .register-image {
      display: none; }
    .register .register-form {
      margin-right: 0; }
      .register .register-form:last-child {
        text-align: center; }
      .register .register-form .btn {
        margin-top: 1.2rem;
        padding: 1rem 3rem; } }
