@font-face {
  font-family: 'primary-font-light';
  src: url("../fonts/body_font/ZenKakuGothicNew-Light.ttf") format("truetype"); }

@font-face {
  font-family: 'primary-font-medium';
  src: url("../fonts/body_font/ZenKakuGothicNew-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'primary-font-regular';
  src: url("../fonts/body_font/ZenKakuGothicNew-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'header-font-bold';
  src: url("../fonts/header_font/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'header-font-medium';
  src: url("../fonts/header_font/Roboto-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'header-font-regular';
  src: url("../fonts/header_font/Roboto-Regular.ttf") format("truetype"); }

h1 {
  font-family: "primary-font-light"; }
