.btn, .dashboard-btn{
    padding: 0.8rem;
    display: inline-block;
    background-color: $main-color;
    transition: .3s ease-in-out;
    border: 1px solid $main-color;
    font-family: "header-font-regular";
    color: $white;
    box-shadow: 2px 1px 5px #0e010d77;
    border-radius: 2px;

    
    &:hover{
        background-color: $white;
        color: $main-color;
    }

}

.dashboard-btn{
    background-color: $main-color2;
    border: 1px solid $main-color2;
    box-shadow: 2px 1px 5px #01060e77;
}