.container{
    width: 85%;
    margin: auto;
}

.home{
    margin-top: 2rem;
    margin-bottom: 4rem;
    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 2rem;
    }
    .text{
        margin-top: 2rem;
        position: relative;
        h2{
            font-size: 1.9rem;
            opacity: 0.8;
            width: 75%;
            font-family: "header-font-medium";
        }
        p{
            margin-top: 2rem;
            font-family: "primary-font-regular";
            width: 70%;
        }
        a{
            margin-top: 3rem;
        }
        .btn{
            padding: 0.9rem 2.2rem;
        }
    }
    .photos{
        position: relative;
        .img-1{
            margin-top: 6rem;
            height: 22rem;
            width: 23rem;
        }
        .img {
            position: absolute;
            top: 1rem;
            left: -5rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            .img-2{
                height: 12rem;
                width: 12rem;
                transition: .3s ease-in-out;

                &:hover{
                    outline: 5px solid $main-color;
                    padding: 1rem;
                }
            }
        }
    }
}

.about{
    background-color: #c937c91c;
    padding: 3rem 0;
    h4{
        font-family: "primary-font-regular";
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        color:$main-color;
    }
    p{
        font-family: "primary-font-regular";
    }
    img{
        width: 30rem;
        height: 24rem;
    }
    .photo{
        outline: 10px solid #d428d46c;
        padding: 1rem;
    }
    .about-text{
        width: 50%;
    }
}

.applying{
    width: 85%;
    margin:auto;
    padding: 3rem 0;
    h3{
        font-family: "primary-font-regular";
        font-size: 1.3rem;
        margin-bottom: 1rem;
        text-transform: uppercase;
        opacity: 0.8;
        color: $main-color3;
    }
    p{
        font-family: "primary-font-regular";
    }
    .btn{
        margin-top: 2rem;
    }
}