@media (max-width: 700px) {
    .desktop{
        display: none;
    }
    .hamburger{
        display: block;
    }
    .main-header{
        padding: 1rem 2rem;
        h2{
            font-size: 1rem;
        }
    }
    .home{
        margin-top: 1.5rem;
        .container{
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .text{
            order: 2;
            h2{
                width: 100%;
                font-size: 1.7rem;
                opacity: 0.6;
                font-family: "header-font-regular";
            }
            p{
                width: 100%;
            }
        }
        .photos{
            order: 1;
            margin-bottom: 3rem;
            .img-1{
                height: 17rem;
                width: 20rem;
                margin-left: 3.5rem;
            }
            .img {
                top: 4rem;
                left: 1rem;
                .img-2{
                    height: 10rem;
                    width: 10rem;
                }
            }
        }

    }
    .about{
        img{
            width: 100%;
            height: 18rem;
        }
        .about-text{
            width: 100%;
        }
        .photo{
            margin-top: 2rem;
            outline: none;
            padding: 0;
        }
    }
    .applying{
        width: 90%;
    }
    
    .register{
        flex-direction: column;
        justify-content: center;
        .register-image{
            display: none;
        }
    
        .register-form{
            margin-right: 0;
            &:last-child{
                text-align: center;
                
            }
            .btn{
                margin-top: 1.2rem;
                padding: 1rem 3rem;
            }
        }
    }
    .dashboard{
        margin: 1rem;
        table{
            padding: 0.5rem;
            margin-top: 2rem;
        }
        th{
            font-size: 1.3rem;
            
        }
        td{
            text-align: left;
            font-size: 1rem;
        }
    }
}