$main-color: #d727e7;
//$main-color: #06D6A0;
$header-color2: #d428d4c9;
$header-color: #fdf5fd;
//$header-color: #046e52;
$main-color2: #227C9D;
$white: #FAFAFF;
$black: #090909;
$header: #02241bd7;
$main-color3: #d428d4c9;
